.cliente-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cliente-datos h5{
    margin: 0.1rem;
}

.cliente-datos p{
    width: 100%;
    text-align: start;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

.clientesPedidosCaja{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: calc(100% - 1rem);
    margin: 0.2rem 0.5rem;
    box-sizing: border-box;
}

.cliente-datos-grande{
  width: 90%;
}

.clientes-pedidos-caja::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color:  var(--color2);
    border-radius: 10px;
  }
  
  .clientes-pedidos-caja::-webkit-scrollbar-thumb {
    background-color: var(--color4);
    border-radius: 10px;
  }

  .cliente-botonera-uno{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 2rem;
    width: 100%;
    align-items: center;
  }
