.cliente-datos{
    background-color: var(--color6);
    border-radius: 4px;
    padding: 0.3rem;
    width: calc(100% - 1rem);
    margin: 0 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
}

.cliente-datos:hover{
    box-shadow: 1px 1px 1px var(--color1);
}
.cliente-datos-interno{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0 0rem 0.1rem 0rem;
    box-sizing: border-box;
    overflow: hidden;
}

.cliente-datos-interno div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100%;
}

.cliente-datos-interno div p{
    font-size: 0.9em;
    margin: 0.3rem 0;
    text-align: start;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    
}

.cliente-datos-interno div p img{
    margin-right: 0.3rem;
    vertical-align: middle;
    height: 16px;
    width: 16+px;
}

.cliente-datos-interno p:not(.pedido-paraRetirar):not(.pedido-pendiente) {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

.cliente-nombre{
    width: 100%;
    font-size: 1em;
    margin: 0.6rem 0;
    padding-left: 0.3rem;
    box-sizing: border-box;
    text-align: start;
}

.cliente-nombre svg{
    vertical-align: text-bottom;
    margin-right: 0.3rem;
}

.pedido-pendiente, .pedido-paraRetirar, .pedido-retirado {
    border: 1px solid var(--color1);
    border-radius: 4px;
    padding: 0 0.3rem !important;
    white-space: nowrap;
    box-sizing: border-box;
}
.pedido-retirado{
    background-color: var(--color6);
}
.pedido-pendiente {
    background-color: var(--color7);
}

.pedido-paraRetirar {
    background-color: var(--color5);
}

.cliente-datos-interno div:first-child{
    min-width: fit-content;
    margin-left: 0.5rem;
    box-sizing: border-box;
}


