.btn-formulario{
    margin: 0.5rem 0;
    padding: 0.5rem 0.8rem;
    background-color: var(--color4);
    color: var(--color2);
    cursor: pointer;
    border-radius: 8px;
    font-size: 0.9em;
}

.btn-formulario:hover{
    box-shadow: 1px 1px 1px var(--color1);
    border-radius: 12px;
}

.btn-cerrar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    z-index: 920;
    background-color: transparent;
    color: var(--color1);
    border: none;
    padding: 0;
}

.btn-cerrar img,
.btn-editar img,
.btn-add img,
.btn-eliminar img{
    height: 20px !important;
    width: 20px !important;
    margin: 0 !important;
}

.btn-cerrar:hover{
    background-color:  none;
    border: 1px solid var(--color1);
    border-radius: 50px;
    box-shadow: 1xp 1px 1px var(--color1);
}

.btn-eliminar{
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 1px var(--color1);
    border-radius: 4px;
    padding: 0 0.5rem !important;
}

.btn-eliminar:hover{
    background-color: var(--color10);
    box-shadow: 1px 1px 1px var(--color1);
}

.btn-editar{
    position: absolute;
    z-index: 0;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--color1);
    background-color: var(--color5);
    padding: 0.1rem 0.3rem;
    box-shadow: 1px 1px 1px var(--color1);
    top:8px;
    right: 8px; 
    color: var(--color1);
}

.btn-editar-normal{
    padding: 0.3rem 0.3rem 0.2rem 0.3rem;
    margin-left: 0.5rem;
    border: none;
    height: min-content;
    position:unset;
    top: auto;
    right: auto;
}

.btn-editar-normal img{
    height: 16px;
    width: 16px;
}

.btn-inferior{
    bottom: 8px;
    right: 8px;
}


.btn.editar:hover,
.btn-editar-normal:hover{
    box-shadow: 2px 2px 2px var(--color1);
    background-color: var(--color3);
}

.btn-add{
    margin: 0.5rem 0;
    padding: 0.3rem 0.5rem;
    background-color: var(--color5);
    color: var(--color1);
    cursor: pointer;
    border-radius: 8px;
    font-size: 0.9em;
    box-shadow: 1px 1px 1px var(--color1);
}
.btn-add:hover{
    box-shadow: 2px 2px 2px var(--color1);
    border-radius: 12px;
    background-color: var(--color4);
    color: var(--color2);
}

.edi-desactivado{
    background-color: var(--color8);
    box-shadow: none;
}

.edi-desactivado:hover{
    box-shadow: none !important;
    background-color: var(--color8) !important;
}