.listaClientes{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
.listaClientes li{
    margin: 0.2rem 0;
}

.cliente-lista-pedidos{
    list-style: none;
    margin: 0 0 0.5rem 0;
    padding: 0 0.2rem;
    width: 100%;
    box-sizing: border-box;
}

.cliente-lista-pedidos li{
    margin: 0.3rem;
    padding: 0;
    width: calc(100% - 0.8rem);
    box-sizing: border-box;
}

.subtitulo-cliente{
    margin: 0.5rem;
}