.super-estado-card{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: calc(100% - 1rem);
    margin: 0.2rem 0.5rem;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color8);
}

.super-estado-card:hover{
    box-shadow: 1px 1px 1px var(--color1);
}

.super-estado-card h4{
    padding: 1.2rem 0;
    width: 60px;
    max-width: 60px;
    margin: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
}

.super-estado-interno h5{
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.super-estado-interno{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 0.5rem;
}